<div class="main-area">
  <div class="context-area">
    <div class="header">
      <h1>Events</h1>
      <hr>
    </div>
    <div class="form-area">
      <h3>Create Event</h3>
      <form #eventsForm="ngForm" (ngSubmit)="getEventFormData(eventsForm.value)">

        <input type="text" ngModel name="name" placeholder="Enter Name">
        <br> <br>
        <label for="gameId">Game:</label>
        <select id="gameId" ngModel name="gameId">
          <option value="1">Guilty Gear: Strive</option>
          <option value="2">Street Fighter: V</option>
          <option value="3">Tekken 7</option>
        </select>
        <br> <br>
        <input type="datetime-local" ngModel name="time">
        <br> <br>
        <input type="checkbox" ngModel name="private">
        <label for="private"> Private?</label><br> <br>
        <input type="checkbox" ngModel name="online">
        <label for="online"> Online?</label><br> <br>
        <button>Add New Event</button>
      </form>
    </div>
  </div>

</div>
